/*theres nothing going on here...*/
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  /*padding: 50px 0px;*/
  text-align: center;
  /*background-color: #f9e0ff;*/

}

html {
  background-color: #FFFFFF;
  padding: 0px;
}

head{
  /*padding: 0px;
  height: 0px;
  width: 0px;
  border-color: green;*/
}

div {
  border: 2px solid Black;
  margin: auto;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0px;
}

h1{
  font-family: Dosis;
  font-size: 60px;
  font-style: normal;
}

ul{
  list-style-type: circle;
  padding: 0px 0px 0px 0px;
}

li{
  display: block;
  width: 50%;
  float: left;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  padding: 2vh 0px 0px 20vw;

}




.title {
  padding: 1vh 0px 0px 15vw;
  /*margin: 0px 0px 0px 0px;*/
  text-align: left;
  color: #AAAAAA;
}


.info{
  padding: 2vh 10vw 2vh 15vw;
  line-height: 133%;
  text-align: left;
  font-size: 30px;
  font-weight: 100;
}

#cover{
  background-image: url("http://i.imgur.com/kjOaVGV.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  border-color: red;
  color: #FFFFFF;
}


#name{
  padding: 30vh 0px 0px 0px;
  letter-spacing: 20px;
  text-shadow: 0px 1vh #000000;
}

#subname{
  padding: 5vh 0px 0px 0px;
  text-shadow: 0px 3px #000000;

}

#scrollButton{
  height: 5vh;
  width: 5vh;
  position: fixed;
  background-color: red;
  z-index: 2;
  margin: 80vh 0px 0px 85vw;
  border: none;
}
