/*theres nothing going on here...*/
* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: black;
  margin: auto;
  /*padding: 50px 0px;*/
  text-align: center;
  /*background-color: #f9e0ff;*/
  color: #7e7e7e;

}

html {
  background-color: #FFFFFF;
  padding: 0px;
}

html body {
  overflow: hidden;
}

head{
  /*padding: 0px;
  height: 0px;
  width: 0px;
  border-color: green;*/
}

div {
  /*border: 2px solid Black;*/
  margin: auto;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0px;
}

h1{
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: light;
}

ul{
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px 0px 0px 0px;
}

li{
  display: list-item;
  width: 50%;
  float: left;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  padding: 2vh 0px 0px 20vw;

}

a{
  font-style: inherit;
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}


.title {
  padding: 3vh 0px 0px 15vw;
  /*margin: 0px 0px 0px 0px;*/
  text-align: left;
  color: #fff;
  font-family: 'Roboto Condensed', Roboto, Helvetica, sans-serif;
}


.info{
  padding: 2vh 10vw 2vh 15vw;
  font-family: Roboto;
  line-height: 133%;
  text-align: left;
  font-size: 24px;
  font-weight: light;
}

.dither{
  margin: auto;
  width: 96vw;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  image-rendering: pixelated; /*chrome*/
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.col2{
  padding: 2vh 0px 0px 5vw;
}


#cover{
  image-rendering: -webkit-optimize-contrast;
  background-color: #c3f7d3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /*border-color: red;*/
  color: #fff;
}


#name{
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
  padding: 30vh 0px 0px 0px;
  color: #fff;
  /*letter-spacing: 20px;*/
}

#subname{
  font-family: Roboto, Helvetica, sans-serif;
  padding: 5vh 0px 0px 0px;
  color: #7e7e7e;

}

#contactBar{
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  padding: 42vh 0px 0px 0px;
}

#mission{
  background-color: #c3e7f7;
}

#skills{
  background-color: #ddc3f7;
}

#projects{
  background-color: #f7c3e2;
}

#projectList{
  width: 70vw;
  height: 70vh;

}

.projectListBut{
  width: 20%;
  height: 15%;
  float: left;
  cursor: pointer;
}

#listBut1{
  background-color: #fcb5df;
}

#listBut2{
  background-color: #ffa5da;
}

#listBut3{
  background-color: #ff96d4;
}

#listBut4{
  background-color: #ff82cb;
}

#listBut5{
  background-color: #ff72c4;
}

.projectListInfo{
  color: #fff;
  top: 15%;
  position: absolute;
  padding: 3vh 3vw;
  text-align: left;
  width: 100%;
  height: 85%;
}

#listInfo1{
  background-color: #fcb5df;
}

#listInfo2{
  background-color: #ffa5da;
}

#listInfo3{
  background-color: #ff96d4;
}

#listInfo4{
  background-color: #ff82cb;
}

#listInfo5{
  background-color: #ff72c4;
}


#education{
  background-color: #fccbc7;
}

#uchi{
  margin: auto;
  width: 10vw;

}

#interests{
  background-color: #fcdfc7;

}

#audio1{
  height: 10vh;
  width: 10vh;
  background-color: #fff;
  float: left;
  margin: auto;
  left: 30vw;
  top: 7vh;
  cursor: pointer;
}

#audio2{
  height: 10vh;
  width: 10vh;
  background-color: #fff;
  float: left;
  margin: auto;
  left: 60vw;
  top: 7vh;
  cursor: pointer;
}

#demo{
  background-color: #f2eeb0;

}


#scrollBar{
  height: 100vh;
  width: 3vw;
  position: fixed;
  background-color: #7e7e7e;
  z-index: 2;
  margin: 0vh 0px 0px 97vw;
  border: none;
}


.scrollBut{
  width: 100%;
  height: 10vh;
  color: #fff;
  border: solid 2px black;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  top: 15%;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  line-height: 100%;
}



#scrollBarMirror{
  height: 100vh;
  width: 3vw;
  position: fixed;
  background-color: #7e7e7e;
  z-index: 2;
  margin: 0px 0px 0px 0px;
  border: none;
}
